$orange-100: #d38200;

// red
$red-100: #92140c;

// ciano
$ciano-100: #4b8f9c;
$ciano-200: #0f7173;

//GRAY
$gray-100: #353238;
$gray-200: #f5f5f5;

// BLUE
$blue-100: #0c31aa;

// modules colors
$chronos-gray: #494875;
$hades-blue: #360aa6;
$athen-blue: #73ccff;

// shadows
$shadow-base: 1.25px 4px 4px #00000040;
$shadow-menu: 1.25px 1.25px 4px #00000040;

// heavy colors
$heavy-primary: #e37200;
$heavy-red: #720f0f;
$heavy-green: #0fb75c;
$heavy-cyan: #0f7173;

// BACKGROUND
$background-100: #f3f2f1;
